
[Desktop Entry]
Version=1.0
Type=Application
Name=URxvt Tmux
Comment=URxvt withTmux
Icon=
Exec=urxvt256c
Path=/home/jbustamante
Terminal=false
StartupNotify=false
