
[Desktop Entry]
Version=1.0
Type=Application
Name=Firefox
Comment=Browse the Web
Icon=firefox
Exec=firefox %u
Path=
Terminal=false
StartupNotify=true
