###########
# ALIASES #
###########

# source main bashrc and zshrc files
alias sbc='source ~/.bashrc'
alias szc='source ~/.zshrc'
alias spr='source ~/.profile'

# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls -N --color=auto --group-directories-first'
    alias dir='dir --color=auto'
    alias vdir='vdir --color=auto'

     alias grep='grep --color=auto'
     alias fgrep='fgrep --color=auto'
     alias egrep='egrep --color=auto'
     alias egrepi='egrep -i'
 fi

# colored GCC warnings and errors
export GCC_COLORS='error=01;31:warning=01;35:note=01;36:caret=01;32:locus=01:quote=01'

# more ls aliases
alias ls='ls -N --color=auto --group-directories-first'
alias lo='ls -lFh --group-directories-first'
alias ll='ls -alFh --group-directories-first'
alias la='ls -A --group-directories-first'
alias lr='ls -R'
alias l='ls -CF --group-directories-first'
alias lss='ls *'
alias lsl='ll --group-directories-first | less'
alias lll='ls /*'

# tree aliases
alias treet='tree -Nif'
alias treed='treet -d'
alias tcd='cd "$(treed | fzf)"'
alias tvim='vim "$(treet | fzf)"'

# some cd aliases
alias ccd='cd'
alias cccd='cd'
alias ..='cl ..'

# filesystem aliases
alias mkdir='mkdir -pv '
alias df='pydf -h '
alias rg='ranger .'
alias thun='thunar .'
alias mnt='mount | column -t'
alias pin='sudo pacman -S'
alias psr='pacman -Ss'
alias prm='sudo pacman -Rs'
alias yin='yay -S'
alias Yin="yay -S --mflags '--skippgpcheck'"
alias Yim="yay -S --mflags '--skipinteg'"
alias ysr='yay -Ss'
alias yrm='yay -Rsu'
alias ain='pikaur -S'
alias asr='pikaur -Ss'
alias arm='pikaur -Rsu'
alias min='pamac install'
alias msr='pamac search'
alias mrm='pamac remove -o'

# more filesystem aliases
alias dff='df -gha'
alias duu='sudo du -ach | sort -h -r | head -$1'
alias psg='ps auxf | fgrep -v grep | fgrep -ie VSZ -e '
alias myip='curl http://ipecho.net/plain; echo'
alias db='sudo updatedb'
alias rmm='rm -I'
alias RM='sudo rm -Ird'
alias kl='RM .??*/.git*'
alias kll='RM .??*/*/.git*'
alias klll='RM .??*/*/*/.git*'
alias kllll='RM .??*/*/*/*/.git*'

# misc aliases
alias pls='sudo'
alias vim='nvim'
alias svim='sudo nvim'
alias sl='sl -e'
alias wf='sudo wifi-menu'
alias bt='bluetoothctl'
alias pping='prettyping'
alias ppg='prettyping google.com'
alias ppj='prettyping 128.104.98.13'
alias term='export TERM=xterm-256color'
alias bat='bat --color=auto'
alias matlab='matlab -nosplash'
alias dki='docker images -a'
alias dkp='docker system prune'
alias zt='zathura'
alias nb='newsboat'
alias nf='neofetch'
alias prnt='xdg-open http://localhost:631/admin'
alias gotop='gotop -p -b -r 2'
alias rtv='rtv --enable-media'
alias cnv='convert -resize'
alias twitchme='gotwitch -p mpv -w yan_yan11'
alias sx='sxiv -atr .'
alias sv='sxiv -atr'
alias wrd='textmaker18'
alias ppt='presentations18'
alias xls='planmaker18'
alias tx='tmux attach'
alias txnr='tmux new-session -s remote'
alias txar='tmux attach-session -t remote'
alias txkr='tmux kill-session -t remote'
alias plexserver='ssh jbustamante@128.104.98.13 -L 8888:localhost:32400'
alias huecli='dotnet /home/jbustamante/Documents/apps/huecli/bin/Debug/netcoreapp2.0/huecli.dll'
alias xback='sudo chown jbustamante:jbustamante /sys/class/backlight/intel_backlight/brightness'
alias adj_cam='v4l2ucp'

# alias to remote to UW Madison
alias sshs='ssh submit'
alias sshj='ssh jdev'
alias ssho='ssh office'
alias sshr='ssh rin'
alias sshw='ssh winry'
alias sshp='ssh potato'
alias sshm='ssh molinejo'
alias sshst='ssh submit      -t tmux'
alias sshjt='ssh jdev        -t tmux attach-session -t remote_hyp'
alias sshot='ssh office      -t tmux'
alias sshrt='ssh rin         -t tmux'
alias sshwt='ssh winry       -t tmux'
alias sshpt='ssh potato      -t tmux'
alias sshmt='ssh molinejo    -t tmux'
alias vs='vncserver'
alias vsl='vncserver -list'
alias vsk='vncserver -kill'
alias pvpn='sudo protonvpn c -f'
alias labmeeting='chrome --app="https://uwmadison.webex.com/meet/pr925116364" &'

# VimWiki aliases
alias jrnl='vim ~/Documents/jbwiki/journal.wiki/index.wiki'
alias labn='vim ~/Documents/jbwiki/labnotes.wiki/index.wiki'
alias ojrnl='firefox ~/Documents/jbwiki/journal.wiki_html/index.html'
alias olabn='firefox ~/Documents/jbwiki/labnotes.wiki_html/index.html'

# dwm aliases
alias rst='sudo make clean install -C ~/Documents/suckless/dwm-6.1'
alias mk='make && sudo make install'

# Neomutt aliases
alias gmdl='mbsync gmail'
alias gma='openmutt gmail all'
alias gmi='openmutt gmail home'
alias gmd='openmutt gmail drafts'
alias gms='openmutt gmail sent'
alias wmdl='mbsync wisc'
alias wma='openmutt wisc all'
alias wmi='openmutt wisc home'
alias wmd='openmutt wisc drafts'
alias wms='openmutt wisc sent'
alias pmdl='mbsync pmail'
alias pma='openmutt pmail all'
alias pmi='openmutt pmail home'
alias pms='openmutt pmail drafts'
alias pmd='openmutt pmail sent'
alias nmn='notmuch new'

# Git aliases
alias gst='git status'
alias glog='git log'
alias gadd='git add -A'
alias gcomm='git commit -m'
alias gpush='git push origin'
alias gpull='git pull origin master'
alias gclone='git clone'

# vim: filetype=sh
