###########
# ALIASES #
###########

# source main bashrc and zshrc files
alias sbc='source ~/.bashrc'
alias szc='source ~/.zshrc'
alias spr='source ~/.profile'

# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"

    alias ls='ls -N --color=auto --group-directories-first'
    alias dir='dir --color=auto'
    alias vdir='vdir --color=auto'

    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

 # colored GCC warnings and errors
 export GCC_COLORS='error=01;31:warning=01;35:note=01;36:caret=01;32:locus=01:quote=01'

# some more ls aliases
alias ls='ls -N --color=auto --group-directories-first'
alias lo='ls -lFh'
alias ll='ls -alFh'
alias la='ls -A'
alias l='ls -CF'
alias lsl='ll | less'
alias lll='ls /*'

# some cd aliases
alias ..='cl ..'

# filesystem aliases
alias mkdir='mkdir -pv '
alias df='pydf -h '
alias thn='thunar .'
alias thr='thunar .'
alias rg='ranger .'
alias mnt='mount | column -t'
alias pping='prettyping'
alias ppg='prettyping google.com'
alias ain='sudo apt install'
alias asr='apt search'
alias arm='sudo apt purge'

# misc system aliases
alias dff='df -gha'
alias duu='sudo du -hs && sudo du -ah | sort -r | head -$1'
alias psg='ps auxf | fgrep -v grep | fgrep -ie VSZ -e '
alias myip='curl http://ipecho.net/plain; echo'
alias hist='bat "$HISTFILE"'
alias svim='sudo vim '
alias rm='rm -I'
alias RM='sudo rm -Ird'
alias db='sudo updatedb'
alias xcolors='xrdb -load ~/.cache/wal/colors.Xresources && xrdb -merge ~/.Xresources'
alias xwal='wal -i ~/.config/wall.png --saturate 0.8'
alias bt='bluetoothctl'

# Add an "alert" alias for long running commands.  Use like so:
#   sleep 10; alert
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && \
    echo terminal || echo error)" "$(history|tail -n1|sed -e \
    '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'

# aliases to vpn to UW Madison
#alias vpn2me='globalprotect connect -p uwmadison.vpn.wisc.edu --username jbustamante'
alias vpn2me='sudo openconnect --protocol=gp uwmadison.vpn.wisc.edu -u jbustamante -b'

# aliases to ssh with X11 port forwarding
alias sshs='ssh submit'
alias sshj='ssh jdev'
alias sshw='ssh winry'
alias sshk='ssh kurisu'
alias sshr='ssh rin'
alias ssho='ssh office'
alias sshst='ssh submit -t tmux'
alias sshjt='ssh jdev   -t tmux'
alias sshwt='ssh winry  -t tmux'
alias sshkt='ssh kurisu -t tmux'
alias sshrt='ssh rin    -t tmux'
alias sshot='ssh office -t tmux'

# useful docker aliases
alias dkb='docker build -t'
alias dkt='docker tag'
alias dkp='docker push '
alias dkP='docker pull '
alias dki='docker images -a'

# misc aliases
alias vim='nvim'
alias term='export TERM=xterm-256color'
alias sl='sl -e'
alias kl='RM .??*/.git*'
alias kll='RM .??*/*/.git*'
alias klll='RM .??*/*/*/.git*'
alias kllll='RM .??*/*/*/*/.git*'

# application aliases
alias rtv='rtv --enable-media '
alias zt='zathura'
alias sx='sxiv -tr .'
alias nb='newsboat'
alias nf='neofetch'
alias shutr="shutter -f -e -o '/home/jbustamante/Pictures/screenshots/%y%m%d_\$wx\$h_\$nb_name.png'"
alias weather='/home/jbustamante/.scripts/i3scripts/i3weather && cat /home/jbustamante/.weatherreport'
alias vs='vncserver'
alias vsl='vncserver -list'
alias vsk='vncserver -kill'


# VimWiki aliases
alias jrnl='nvim ~/Documents/jbwiki/journal.wiki/index.wiki'
alias labn='nvim ~/Documents/jbwiki/labnotes.wiki/index.wiki'
alias ojrnl='surf ~/Documents/jbwiki/journal.wiki_html/index.html'
alias olabn='surf ~/Documents/jbwiki/labnotes.wiki_html/index.html'

# window manager aliases
alias mk='sudo make clean install'

# Remap 'Search' key to Escape [move these to .xmoodmap soon]
# Meta_L    (search key)    --> Escape
# Alt_R     (right alt)     --> Insert
# Control_R (right control) --> Delete
alias esc='xmodmap -e "keycode 133 = Escape Super_L"'
alias ins='xmodmap -e "keycode 108 = Insert Overlay1_Enable Alt_R"'
alias del='xmodmap -e "keycode 105 = Delete Control_R"'

# Fix F8 F9 F10
alias f08='xmodmap -e "keycode 73 = XF86AudioMute F8 XF86AudioMute"'
alias f09='xmodmap -e "keycode 74 = XF86AudioLowerVolume F9 XF86AudioLowerVolume"'
alias f10='xmodmap -e "keycode 75 = XF86AudioRaiseVolume F10 XF86AudioRaiseVolume"'

# Git aliases
alias gst='git status'
alias glog='git log'
alias gadd='git add -A'
alias gcomm='git commit -m'
alias gpush='git push origin'
alias gpull='git pull origin master'
alias gclone='git clone'

# Neomutt aliases
alias gmdl='mbsync gmail'
alias gma='neomutt -F ~/.config/neomutt/gmail.muttrc -f /media/jbustamante/voltron/Mail/gmail/\[Gmail\].All\ Mail/'
alias gmi='neomutt -F ~/.config/neomutt/gmail.muttrc -f /media/jbustamante/voltron/Mail/gmail/INBOX'
alias gmd='neomutt -F ~/.config/neomutt/gmail.muttrc -f /media/jbustamante/voltron/Mail/gmail/[Gmail].Drafts'
alias gms="neomutt -F ~/.config/neomutt/gmail.muttrc -f /media/jbustamante/voltron/Mail/gmail/[Gmail].Sent\ Mail"
alias wma='neomutt -F ~/.config/neomutt/wisc.muttrc  -f /media/jbustamante/voltron/Mail/wisc/Archive'
alias wmi='neomutt -F ~/.config/neomutt/wisc.muttrc  -f /media/jbustamante/voltron/Mail/wisc/INBOX'
alias wmd='neomutt -F ~/.config/neomutt/wisc.muttrc  -f /media/jbustamante/voltron/Mail/wisc/Drafts'
alias wms='neomutt -F ~/.config/neomutt/wisc.muttrc  -f /media/jbustamante/voltron/Mail/wisc/Sent\ Items'
alias wmdl='mbsync wisc'
alias nmn='notmuch new'

# vim: filetype=sh
