#############
# FUNCTIONS #
#############

# create directory and move to it
mvcd () {
	mkdir $1;
	cd $1;
}

# move to directory and show contents
cl () {
	cd $1 && la -F;
}

# unzip into directory of the same name as zip file
uzp () {
	nm=$1;
	unzip "$nm".zip -d "$nm";
}

# check current status of dropbox syncing
drchk () {
	cd /media/jbustamante/voltron/Dropbox
	dropbox filestatus && printf "\n\n\n" && dropbox status
	cd -
        printf "\n" && dropbox filestatus
}

# Regenerate color scheme
clrs () {
    xrdb -load ~/.cache/wal/colors.Xresources ;
    xrdb -merge ~/.Xresources
}

# Regenerate color scheme to match wallpaper
wali () {
    bak="$1"
    sat="$2"
    light="$3"

    wal -c ;
    clrs ;
    wal --backend "$bak" -i ~/.config/wall.png --saturate "$sat" -q $light
}

# Set my key configuration
mykeys () {
    xmodmap -e "keycode 133 = Escape Super_L"
    xmodmap -e "keycode 108 = Insert Overlay1_Enable Alt_R"
    xmodmap -e "keycode 105 = Delete Control_R"

    # Fix F8 F9 F10
    #xmodmap -e "keycode 73 = XF86AudioMute F8 XF86AudioMute"
    #xmodmap -e "keycode 74 = XF86AudioLowerVolume F9 XF86AudioLowerVolume"
    #xmodmap -e "keycode 75 = XF86AudioRaiseVolume F10 XF86AudioRaiseVolume"
}

# Locate, Select, and Excecute [pipe locate and fzf into application]
lse () {
    # typ: search query for filtering by file or filetype
    # app: application to run selected file
    typ="$1"
    app="$2"
    ver="$3"

    case $ver in
        1)
            # Search through entire filesystem
            "$app" "$(locate "*$typ" | fzf)"
            ;;
        2)
            # Search through current directory tree
            "$app" "$(locate "$(pwd)/*$typ" | fzf)"
            ;;
        *)
            # Default to version 1
            "$app" "$(locate "*$typ" | fzf)"
            ;;
    esac
}

# View VNC display
vnc2me () {
    dsp="$1"
    vncviewer localhost:"$dsp" -passwd ~/.vnc/passwd
}

# Setup for trayer
#mytray () {
#    trayer --edge top --width 5 --transparent true --alpha 50 \
#    --iconspacing 2 --expand true --SetDockType false
#}


# vim: filetype=sh
