###########
# ALIASES #
###########

# source main bashrc and zshrc files
alias sbc='source ~/.bashrc'
alias szc='source ~/.zshrc'
alias spr='source ~/.profile'

# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"

    alias ls='ls -N --color=auto --group-directories-first'
    alias dir='dir --color=auto'
    alias vdir='vdir --color=auto'

    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

 # colored GCC warnings and errors
 export GCC_COLORS='error=01;31:warning=01;35:note=01;36:caret=01;32:locus=01:quote=01'

# some more ls aliases
alias ls='ls -N --color=auto --group-directories-first'
alias ll='ls -alFh'
alias lo='ls -lFh'
alias la='ls -A'
alias l='ls -CF'
alias lsl='ll | less'
alias lll='ls /*'

# some work aliases
alias ..='cl ..'

# filesystem aliases
alias mkdir='mkdir -pv '
alias df='pydf -h '
alias rg='ranger .'
alias thn='thunar .'
alias thr='thunar .'
alias naut='nautilus .'
alias natu='nautilus .'
alias mnt='mount | column -t'
alias pping='prettyping '
alias ppg='prettyping google.com'
alias ain='sudo apt install'
alias asr='apt search'
alias arm='sudo apt purge'

# misc system aliases
alias dff='df -gha'
alias duu='sudo du -hs && sudo du -ah | sort -r | head -$1'
alias duA='sudo du -ah /home | sort -nr | head -n 20'
alias psg='ps auxf | fgrep -v grep | fgrep -ie VSZ -e '
alias myip='curl http://ipecho.net/plain; echo'
alias svim='sudo vim '
alias rm='rm -I'
alias RM='sudo rm -Ird'
alias kl='RM .??*/.git*'
alias kll='RM .??*/*/.git*'
alias klll='RM .??*/*/*/.git*'
alias kllll='RM .??*/*/*/*/.git*'
alias db='sudo updatedb'
alias xcolors='xrdb -load ~/.cache/wal/colors.Xresources && xrdb -merge ~/.Xresources'
alias xwal='wal -i ~/.config/wall.png --saturate 0.8'
alias cnv='convert -resize'

# Add an "alert" alias for long running commands.  Use like so:
#   sleep 10; alert
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|ta
    il -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'

# aliases to ssh with X11 port forwarding
alias sshs='ssh  submit'
alias sshj='ssh  jdev'
alias ssho='ssh  office'
alias sshst='ssh submit -t tmux'
alias sshjt='ssh -t jdev   "tmux attach -t remote_hyp"'
alias sshot='ssh -t office "tmux attach -t remote_office"'

# VNC server aliases
alias vs='vncserver'
alias vsl='vncserver -list'
alias vsk='vncserver -kill'

# useful docker aliases
alias dkb='docker build -t'
alias dkt='docker tag'
alias dkp='docker push '
alias dkP='docker pull '
alias dki='docker images -a'

# misc aliases
alias vim='nvim'
alias term='export TERM=xterm-256color'
alias sl='sl -e'
alias zt='zathura'
alias sx='sxiv -tr .'

# application aliases
alias rtv='rtv --enable-media '
alias nb='newsboat'
alias nf='neofetch'
alias shutr="shutter -f -e -o '/home/jbustamante/Pictures/screenshots/%y%m%d_\$wx\$h_\$nb_name.png'"
alias weather='/home/jbustamante/.scripts/i3scripts/i3weather && cat /home/jbustamante/.weatherreport'
#alias tmux='tmux -f ~/.config/tmux/tmux.conf'
alias wrd='textmaker18free'
alias ppt='presentations18free'
alias xls='planmaker18free'

# iRODS aliases
alias idata='irodsFs -o allow_other $HOME/idata'
alias me2irods='iput -r ${1} /iplant/home/jbustamante35/${2}'
alias irods2me='iget -r /iplant/home/jbustamante35/${1} ${2}'

# VimWiki aliases
alias jrnl='vim ~/Documents/jbwiki/journal.wiki/index.wiki'
alias labn='vim ~/Documents/jbwiki/labnotes.wiki/index.wiki'
alias ojrnl='surf ~/Documents/jbwiki/journal.wiki_html/index.html'
alias olabn='surf ~/Documents/jbwiki/labnotes.wiki_html/index.html'

# window manager aliases
alias mk='sudo make clean install'

# Git aliases
alias gst='git status'
alias glog='git log'
alias gadd='git add -A'
alias gcomm='git commit -m'
alias gpush='git push origin'
alias gpull='git pull origin master'
alias gclone='git clone'

# Neomutt aliases
alias gmdl='mbsync gmail'
alias gma='neomutt -F ~/.config/mutt/gmail.muttrc -f ~/.local/share/mail/gmail/\[Gmail].All\ Mail'
alias gmi='neomutt -F ~/.config/mutt/gmail.muttrc -f ~/.local/share/mail/gmail/INBOX/'
alias gmd='neomutt -F ~/.config/mutt/gmail.muttrc -f ~/.local/share/mail/gmail/\[Gmail].Drafts'
alias gms="neomutt -F ~/.config/mutt/gmail.muttrc -f ~/.local/share/mail/gmail/\[Gmail].Sent\ Mail"
alias wmdl='mbsync wisc'
alias wma='neomutt -F ~/.config/mutt/wisc.muttrc  -f ~/.local/share/mail/wisc/Archive'
alias wmi='neomutt -F ~/.config/mutt/wisc.muttrc  -f ~/.local/share/mail/wisc/INBOX'
alias wmd='neomutt -F ~/.config/mutt/wisc.muttrc  -f ~/.local/share/mail/wisc/Drafts'
alias wms='neomutt -F ~/.config/mutt/wisc.muttrc  -f ~/.local/share/mail/wisc/Sent\ Items'
alias nmn='notmuch new'

# Mount JDev directories through SSH
alias mntdrp='sshfs jbustamante@128.104.98.13:/home/jbustamante/Dropbox/ /home/jbustamante/Dropbox'

# vim: filetype=sh
