[Desktop Entry]
Version=1.0
Name=Google Chrome (beta)
GenericName=Web Browser
Comment=Access the Internet
StartupWMClass=Google-chrome-beta
Exec=/usr/bin/google-chrome-beta %U
StartupNotify=true
Terminal=false
Icon=google-chrome-beta
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;image/webp;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;
Actions=new-window;new-private-window;
X-XFCE-Source=file:///usr/share/applications/google-chrome-beta.desktop

[Desktop Action new-window]
Name=New Window
StartupWMClass=Google-chrome-beta
Exec=/usr/bin/google-chrome-beta

[Desktop Action new-private-window]
Name=New Incognito Window
StartupWMClass=Google-chrome-beta
Exec=/usr/bin/google-chrome-beta --incognito
