[user]
    name  = Julian Bustamante
    email = jbustamante35@gmail.com
[credential]
    helper = store
[core]
    editor = nvim
    #pager  = diff-so-fancy | less --tabs = 4
[help]
    autocorrect = 1
    browser     = 1
