[Desktop Entry]
Name=BlueMarine
Comment=Use the command line
Keywords=shell;prompt;command;commandline;cmd;
Keywords[ar]=طرفية;صدفة;سطر;أوامر;أمر;
Keywords[be]=абалонка;загадны радок;загад;
Keywords[bg]=обвивка;терминал;команда;команден;ред;интерпретатор;eмулатор;конзола;баш;шел;дос;shell;prompt;command;commandline;cmd;
Keywords[ca]=intèrpret d'ordres;indicador;ordre;línia d'ordres;
Keywords[ca@valencia]=intèrpret d'ordes;indicador;orde;línia d'ordes;
Keywords[cs]=shell;prompt;výzva;příkaz;příkazový řádek;příkazová řádka;
Keywords[da]=shell;skal;prompt;kommando;kommandolinje;cmd;
Keywords[de]=Shell;Prompt;Eingabeaufforderung;Befehl;Befehlszeile;cmd;
Keywords[el]=κέλυφος;προτροπή;εντολή;γραμμή εντολών;shell;prompt;command;commandline;cmd;
Keywords[en_GB]=shell;prompt;command;commandline;cmd;
Keywords[es]=shell;prompt;comando;línea de comandos;cmd;
Keywords[eu]=shell;gonbitea;komandoa;komando-lerroa;kmd;
Keywords[fa]=shell;prompt;command;commandline;cmd;فرمان;خط فرمان;پایانه;
Keywords[fi]=shell;prompt;command;commandline;cmd;komento;kehote;komentorivi;cli;
Keywords[fr]=shell;prompt;commande;ligne de commande;cmd;
Keywords[fur]=shell;prompt;terminâl;comant;riedicomant;cmd;
Keywords[gd]=shell;prompt;command;commandline;loidhne-àithne;àithne;àitheantan;cmd;slige;
Keywords[gl]=shell;consola;orde;liña de ordes;cmd;comando;
Keywords[he]=מעטפת;פקודה;שורת פקודה;שורה;מסך שחור;חלון דוס;cmd;
Keywords[hr]=ljuska;prompt;naredba;naredbeni redak;cmd;
Keywords[hu]=parancsértelmező;prompt;parancs;parancssor;cmd;
Keywords[id]=shell;prompt;perintah;baris perintah;cmd;
Keywords[is]=skel;kvaðning;skipun;skipanalína;cmd;
Keywords[it]=shell;prompt;terminale;rigadicomando;comando;cmd;
Keywords[ja]=shell;prompt;command;commandline;cmd;シェル;コマンドプロンプト;コマンドライン;terminal;ターミナル;端末;
Keywords[kk]=shell;prompt;command;commandline;cmd;қоршам;сұрау;команда;командалық жол;
Keywords[ko]=shell;셸;쉘;prompt;프롬프트;command;명령;commandline;명령행;커맨드;라인;cmd;
Keywords[lt]=apvalkalas;eilutė;komanda;komandų eilutė;cmd;
Keywords[lv]=čaula;uzvedne;komanda;komandrinda;cmd;
Keywords[ml]=shell;prompt;command;commandline;cmd;
Keywords[nb]=skall;kommando;kommandolinje;
Keywords[nl]=shell;prompt;command;commando;opdrachtregel;cli;commandline;terminal;cmd;
Keywords[oc]=shell;prompt;comanda;linha de comanda;
Keywords[pl]=powłoka;shell;prompt;polecenie;komenda;wiersz poleceń;linia poleceń;wiersz komend;linia komend;cmd;
Keywords[pt]=consola;linha;comando;terminal;
Keywords[pt_BR]=shell;prompt;comando;linha de comando;cmd;
Keywords[ro]=shell;prompt;command;commandline;cmd;linie;comandă
Keywords[ru]=оболочка;строка;команда;командная строка;cmd;
Keywords[sk]=shell;výzva;príkaz;príkazový riadok;cmd;
Keywords[sl]=lupina;ukazna vrstica;ukaz;cmd;command;terminal;
Keywords[sr]=љуска;шкољка;упит;наредба;команда;
Keywords[sr@latin]=ljuska;školjka;upit;naredba;komanda;
Keywords[sv]=skal;shell;prompt;kommando;kommandorad;cmd;
Keywords[tg]=восит;сатри фармон;фармон;хати фармон;cmd;shell;prompt;command;commandline;
Keywords[th]=เชลล์;พรอมต์;คำสั่ง;บรรทัดคำสั่ง;cmd;
Keywords[tr]=shell;kabuk;istem;komut;komut satırı;cmd;
Keywords[uk]=оболонка;командний;рядок;команда;cmd;
Keywords[vi]=shell;hệ vỏ;he vo;prompt;nhắc lệnh;nhac lenh;command;lệnh;lenh;commandline;dòng lệnh;dong lenh;cmd;
Keywords[zh_CN]=shell;prompt;command;commandline;命令;提示符;命令行;
Keywords[zh_TW]=shell;prompt;command;commandline;cmd;外表殼;殼層;提示;指令;命令列;
TryExec=gnome-terminal
Exec=gnome-terminal --profile=BlueMarine
Icon=utilities-terminal
Type=Application
X-GNOME-DocPath=gnome-terminal/index.html
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-terminal
X-GNOME-Bugzilla-Component=BugBuddyBugs
X-GNOME-Bugzilla-Version=3.28.1
Categories=GNOME;GTK;System;TerminalEmulator;
StartupNotify=true
X-GNOME-SingleWindow=false
OnlyShowIn=GNOME;Unity;
Actions=new-window
X-Ubuntu-Gettext-Domain=gnome-terminal

NoDisplay=true

Terminal=false

[Desktop Action new-window]
Name=New Terminal
Exec=gnome-terminal
