#############
# FUNCTIONS #
#############

# create directory and move to it
mvcd () {
	mkdir $1;
	cd $1;
}

# move to directory and show contents
cl () {
	cd $1 && la -F;
}

# clear color cache and re-load Xresources
clrs () {
    xrdb -load ~/.cache/wal/colors.Xresources ;
    xrdb -merge ~/.Xresources
}

# easily create alias [not very flexible yet]
ali () {
	alias $1=$2
}

