#############
# FUNCTIONS #
#############

# create directory and move to it
mvcd () {
	mkdir $1;
	cd $1;
}

# move to directory and show contents
cl () {
	cd $1 && la -F;
}

# easily create alias [not very flexible yet]
ali () {
	alias $1=$2
}

# check current status of dropbox syncing
drchk () {
    cd $HOME/Dropbox;
    dropbox-cli filestatus && printf "\n" && dropbox-cli status;
    printf "\n";
    cd -;
    dropbox-cli filestatus ;
}

# unzip into directory of the same name
uz () {
    nm=$1
    unzip "$nm".zip -d "$nm"
}

# Reload color schemes
clrs () {
    xrdb -load ~/.cache/wal/colors.Xresources;
    xrdb -merge ~/.Xresources;
}

# compile and run kotlin program
kotlinr () {
    echo Compiling, please wait...
	kotlinc $1 -include-runtime -d out.jar
	java -jar out.jar
}

# Reset pywal source colors and choose backend
wali () {
    bak="$1"
    sat="$2"

    wal -c ;
    clrs ;
    wal --backend "$bak" -i ~/.config/wall.png --saturate "$sat" -q

}

# Select video player and video type from current directory [default mpv]
mvid () {
    vt="$1"
    pl="$2"

    case "$pl" in
        "")
            mpv "$(ls *"$vt" | dmenu -l 30)"
            #ls *"$vt" | dmenu -l 30 | xargs -I {} mpv "{}"
            ;;
        *)
            "$pl" "$(ls *"$vt" | dmenu -l 30)"
            #ls *"$vt" | dmenu -l 30 | xargs -I {} "$pl" "{}"
            ;;
    esac
}

# Show 256 colors
function aa_c666 ()
{
    local r= g= b= c= CR="`tput sgr0;tput init`" C="`tput op`" n="\n\n\n" t="  " s="    ";
    echo -e "${CR}${n}";
    function c666 ()
    {
        local b= g=$1 r=$2;
        for ((b=0; b<6; b++))
        do
            c=$(( 16 + ($r*36) + ($g*6) + $b ));
            echo -en "setaf ${c}\nsetab ${c}\n" | tput -S;
            echo -en "${s}";
        done
    };
    function c666b ()
    {
        local g=$1 r=;
        for ((r=0; r<6; r++))
        do
            echo -en " `c666 $g $r`${C} ";
        done
    };
    for ((g=0; g<6; g++))
    do
        c666b=`c666b $g`;
        echo -e " ${c666b}";
        echo -e " ${c666b}";
        echo -e " ${c666b}";
        echo -e " ${c666b}";
        echo -e " ${c666b}";
    done;
    echo -e "${CR}${n}${n}"
}
