[user]
	name = Julian Bustamante
	email = jbustamante35@gmail.com
	url = git@github.com-jbustamante35:jbustamante35/gfs.git
[credential]
    helper = store
[core]
	editor = vim
[help]
	autocorrect = 1
[help "browser"]
	autocorrect = 1
