[submodule ".bash/themes/agnoster-bash"]
	path = .bash/themes/agnoster-bash
	url = https://github.com/speedenator/agnoster-bash
[submodule ".bash_it"]
	path = .bash_it
	url = https://github.com/Bash-it/bash-it
