loc_name=Madison, Wisconsin
lat=43.073101
lon=-89.401199
msl=272
timezone=America/Chicago
offset=-06:00
cache_file_max_age=172800
power_saving=true
units_temperature=0
units_pressure=2
units_windspeed=0
units_precipitation=1
units_altitude=0
model_apparent_temperature=0
round=true
single_row=true
tooltip_style=1
forecast_layout=1
forecast_days=3
scrollbox_animate=true
theme_dir=/usr/share/xfce4/weather/icons/liquid-dark
show_scrollbox=true
scrollbox_lines=1
scrollbox_color=rgba(0,0,0,0)
scrollbox_use_color=false
label0=3
label1=17
label2=5

