show_frame=false
fg_set=false
bg_set=false
timezone=
width_set=false
height_set=false
lines_vertically=true
rotation=1
data0=(%a) %m.%d.%y [%H:%M %P]
font0=Noto Sans Bold 9
tooltip=%c
hib_timing=false

