show_frame=false
fg_set=false
bg_set=false
timezone=America/Chicago
width_set=false
height_set=true
lines_vertically=true
rotation=0
data0=\ %b %d %Y | %R\ 
font0=Droid Sans 9
tooltip=%A %d %B %Y/%V
hib_timing=true
height=25

