/*set custom gtk3/css code below */

/*systray padding*/
.xfce4-panel frame .horizontal { 
	padding-bottom: 0px;
	padding-top: 0px; 
	padding-left: 4px;
	padding-right: 0px;
}
.xfce4-panel frame .vertical { 
	padding-bottom: 4px;
	padding-top: 0px; 
	padding-left: 0px;
	padding-right: 4px;
}
@import url("whisker-tweak.css");
