###########
# ALIASES #
###########

# source main bashrc and zshrc files
alias sbc='source ~/.bashrc'
alias szc='source ~/.zshrc'
alias spr='source ~/.profile'

# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"

    alias ls='ls -N --color=auto --group-directories-first'
    alias dir='dir --color=auto'
    alias vdir='vdir --color=auto'

    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
    alias egrepi='egrep -i'
fi

# colored GCC warnings and errors
export GCC_COLORS='error=01;31:warning=01;35:note=01;36:caret=01;32:locus=01:quote=01'

# some more ls aliases
alias ls='ls -N --color=auto --group-directories-first'
alias ll='ls -alFh'
alias lo='ls -lFh'
alias la='ls -A'
alias lr='ls -R'
alias l='ls -CF'
alias lss='la *'
alias lsl='ll | less'
alias lll='ls /*'
alias ..='cl ..'

# tree aliases
alias treet='tree -Nif'
alias treed='tree -dNif'
alias tvim='vim "$(treet | fzf)"'
alias tcd='cd "$(treed | fzf)"'

# filesystem aliases
alias mkdir='mkdir -pv '
alias df='pydf -h '
alias rg='ranger .'
alias natu='nautilus . &'
alias naut='nautilus . &'
alias thun='thunar . &'
alias thnr='thunar . &'
alias mnt='mount | column -t'
alias pping='prettyping'
alias ppg='prettyping google.com'
alias ppj='prettyping 128.104.98.13'
alias pin='sudo pacman -S'
alias psr='pacman -Ss'
alias prm='sudo pacman -Rsu'
alias pup='sudo pacman -Syu'
alias yin='yay -S'
alias ysr='yay -Ss'
alias yrm='yay -Rsu'
alias yup='yay -Syu'
alias ain='pikaur -S'
alias asr='pikaur -Ss'
alias arm='pikaur -Rsu'
alias aup='pikaur -Syu'

# misc system aliases
alias dff='df -gha'
alias duu='sudo du -hs && sudo du -ah | sort -r | head -$1'
alias psg='ps auxf | fgrep -v grep | fgrep -ie VSZ -e '
alias myip='curl http://ipecho.net/plain; echo'
alias rm='rm -I'
alias RM='sudo rm -Ird'
alias kl='rm -rd $(tree -daif | egrep -i "\.git")'
alias db='sudo updatedb'
alias orun='optirun'
alias orunp='optirun -b primus'

# aliases to ssh with  X11 port forwarding
alias sshs='ssh submit'
alias sshj='ssh jdev'
alias sshk='ssh kurisu'
alias sshp='ssh potato'
alias sshr='ssh rin'
alias ssho='ssh office'
alias sshst='ssh submit -t tmux'
alias sshjt='ssh jdev   -t tmux a -t remote_main'
alias sshkt='ssh kurisu -t tmux'
alias sshpt='ssh potato -t tmux'
alias sshrt='ssh rin    -t tmux'
alias sshot='ssh office -t tmux'
alias vs='vncserver'
alias vsl='vncserver -list'
alias vsk='vncserver -kill'

# useful docker aliases
alias dkb='docker build -t'
alias dkt='docker tag'
alias dkp='docker push '
alias dkP='docker pull '
alias dki='docker images -a'

# misc aliases
alias vim='nvim'
alias svim='sudo nvim '
alias term='export TERM=xterm-256color'
alias matlab='matlab -nosplash'
alias medit='matlab -nodesktop -nosplash -nodisplay'
alias mconsole='matlab -nodesktop -nosplash'
alias sl='sl -e'
alias zt='zathura'
alias nf='neofetch'
alias nb='newsboat'
alias cnv='convert -resize'
alias bt='bluetoothctl'
alias sx='sxiv -atr .'
alias sv='sxiv -atr'
alias mpl='mplayer -loop 0'
alias tx='tmux a'

# application aliases
alias rtv='rtv --enable-media'
#alias weather='/home/jbustamante/.scripts/i3scripts/i3weather && cat /home/jbustamante/.weatherreport'
alias rr='curl -s -L http://bit.ly/10hA8iC | bash'
alias psay='curl parrot.live'
alias wrd='textmaker18'
alias ppt='presentations18'
alias xls='planmaker18'
alias adj_cam='v4l2ucp'
#alias prezoom='xrandr --output eDP-1-1 --mode 1920x1080'
#alias postzoom='xrandr --output eDP-1-1 --mode 2048x1152'

# iRODS aliases
alias idata='irodsFs -o allow_other $HOME/idata'
alias me2irods='iput -r ${1} /iplant/home/jbustamante35/${2}'
alias irods2me='iget -r /iplant/home/jbustamante35/${1} ${2}'

# VimWiki aliases
alias jrnl='vim ~/Documents/jbwiki/journal.wiki/index.wiki'
alias labn='vim ~/Documents/jbwiki/labnotes.wiki/index.wiki'
alias ojrnl='qutebrowser ~/Documents/jbwiki/journal.wiki_html/index.html'
alias olabn='qutebrowser ~/Documents/jbwiki/labnotes.wiki_html/index.html'

# Neomutt aliases
alias gmdl='mbsync gmail'
alias gma='openmutt gmail all'
alias gmi='openmutt gmail home'
alias gmd='openmutt gmail drafts'
alias gms='openmutt gmail sent'
alias wmdl='mbsync wisc'
alias wma='openmutt wisc all'
alias wmi='openmutt wisc home'
alias wmd='openmutt wisc drafts'
alias wms='openmutt wisc sent'
alias pmdl='mbsync pmail'
alias pma='openmutt pmail all'
alias pmi='openmutt pmail home'
alias pmd='openmutt pmail drafts'
alias pms='openmutt pmail sent'
alias nmn='notmuch new'

# Suckless aliases
alias mk='sudo make clean install'
alias pt='patch < $1'

# Git aliases
alias gst='git status'
alias glog='git log'
alias gadd='git add -A'
alias gcomm='git commit -m'
alias gpush='git push origin'
alias gpull='git pull origin master'
alias gclone='git clone'

# ProtonVPN Aliases
alias pvnc='sudo protonvpn connect -f'
alias pvnd='sudo protonvpn disconnect'
alias pvns='protonvpn status'

# vim: filetype=sh
