###########
# ALIASES #
###########

# source main bashrc and zshrc files
alias sbc='source ~/.bashrc'
alias szc='source ~/.zshrc'
alias spr='source ~/.profile'

# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"

    alias ls='ls -N --color=auto --group-directories-first'
    alias dir='dir --color=auto'
    alias vdir='vdir --color=auto'

    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

 # colored GCC warnings and errors
 export GCC_COLORS='error=01;31:warning=01;35:note=01;36:caret=01;32:locus=01:quote=01'

# some more ls aliases
alias ls='ls -N --color=auto --group-directories-first'
alias ll='ls -alFh'
alias la='ls -A'
alias l='ls -CF'
alias lsl='ll | less'

# some work aliases
alias ..='cl ..'
alias cdcl='cl /home/jbustamante/Dropbox/Classes/uwmadison'
alias cdra='cl /home/jbustamante/Dropbox/ResearchArticles/computationalbiology/edgarspalding'
alias cdes='cl /home/jbustamante/Dropbox/EdgarSpalding'
alias sw='cl /home/jbustamante/Dropbox/EdgarSpalding/projects                              '
alias hq='cl /home/jbustamante/Dropbox/EdgarSpalding/projects/hypoquantyl'
alias cs='cl /home/jbustamante/Dropbox/EdgarSpalding/projects/carrotsweeper'
alias sp='cl /home/jbustamante/Dropbox/EdgarSpalding/projects/sphinctolyzer'
alias qd='cl /home/jbustamante/Dropbox/EdgarSpalding/projects/quantdracala/quantdracala'
alias ph='cl /home/jbustamante/Dok/spaldingshell'

# filesystem aliases
alias mkdir='mkdir -pv '
alias df='pydf -h '
alias dolp='dolphin .'
alias dlph='dolphin .'
alias mnt='mount | column -t'
alias pping='prettyping '
alias app='sudo aptitude '
alias pin='sudo pacman -S'
alias psr='pacman -Ss'
alias prm='sudo pacman -Rsu'
alias yin='yay  -S'
alias ysr='yay -Ss'
alias yrm='yay -Rsu'
alias ain='yaourt  -S'
alias asr='yaourt -Ss'
alias arm='yaourt -Rsu'

# misc system aliases
alias dff='df -gha'
alias duu='sudo du -hs && sudo du -ah | sort -r | head -$1'
alias psg='ps auxf | fgrep -v grep | fgrep -ie VSZ -e '
alias myip='curl http://ipecho.net/plain; echo'
alias svim='sudo vim '
alias rm='rm -I'
alias RM='sudo rm -Ird'
alias kl='RM */.git'
alias kll='RM */*/.git'
alias klll='RM */*/*/.git'
alias db='sudo updatedb'
alias xcolors='xrdb -load ~/.cache/wal/colors.Xresources && xrdb -merge ~/.Xresources'
alias xwal='wal -i ~/.config/wall.png --saturate 0.8'
alias orun='optirun'
alias orunp='optirun -b primus'

# Add an "alert" alias for long running commands.  Use like so:
#   sleep 10; alert
alias alert='notify-send --urgency=low -i \
"$([ $? = 0 ] && echo terminal || echo error)" \
"$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'

# aliases to vpn to UW Madison
#alias vpn2me='globalprotect connect -p uwmadison.vpn.wisc.edu --username jbustamante'
alias vpn2me='sudo openconnect --protocol=gp uwmadison.vpn.wisc.edu -u jbustamante'
alias vnc2me='vncviewer localhost:5902'

# aliases to ssh with  X11 port forwarding
alias ssh2me='ssh -C -p 50013 jbustamante@128.104.98.13 -L 5902:localhost:5902'
alias ssh2off='ssh -YC -p 50118 -L 50013:128.104.98.13:50013 jbustamante@128.104.98.118'
alias ssh2off2='ssh -YC -p 22 -L 50013:128.104.98.13:50013 jbustamante@128.104.98.118'
alias sshx='ssh jdev'
alias sshy='ssh -XC jdev'
alias sshs='ssh submit'

# useful docker aliases
alias dkb='docker build -t'
alias dkt='docker tag'
alias dkp='docker push '
alias dkP='docker pull '
alias dki='docker images -a'

# misc aliases
alias vim='nvim'
alias term='export TERM=xterm-256color'
alias matlab='matlab -nosplash'
alias medit='matlab -nodesktop -nosplash -nodisplay'
alias mconsole='matlab -nodesktop -nosplash'
alias sl='sl -e'
alias zt='zathura '
alias cnv='convert -resize'

# application aliases
alias rtv='rtv --enable-media '
alias shutr="shutter -f -e -o '/home/jbustamante/Pictures/screenshots/%y%m%d_\$wx\$h_\$nb_name.png'"
alias weather='/home/jbustamante/.scripts/i3scripts/i3weather && cat /home/jbustamante/.weatherreport'

# iRODS aliases
alias idata='irodsFs -o allow_other $HOME/idata'
alias me2irods='iput -r ${1} /iplant/home/jbustamante35/${2}'
alias irods2me='iget -r /iplant/home/jbustamante35/${1} ${2}'

# VimWiki aliases
alias jrnl='vim ~/Documents/jbwiki/journal.wiki/index.wiki'
alias labn='vim ~/Documents/jbwiki/labnotes.wiki/index.wiki'
alias ojrnl='xdg-open ~/Documents/jbwiki/journal.wiki_html/index.html'
alias olabn='xdg-open ~/Documents/jbwiki/labnotes.wiki_html/index.html'

# Suckless aliases
alias mk='sudo make clean install'
alias pt='patch < $1'

# Git aliases
alias gst='git status'
alias glog='git log'
alias gadd='git add -A'
alias gcomm='git commit -m'
alias gpush='git push origin'
alias gpull='git pull origin master'



