!! URxvt configuration
! Settings
URxvt.termName:         rxvt-256color
URxvt.font:             xft:inconsolata:pixelsize=30:minspace=True, \
                        xft:Droid Sans Mono:size=30
URxvt.boldfont:         xft:inconsolata:pixelsize=35:minspace=True, \
                        xft:Droid Sans Mono:pixelsize=35
!URxvt.font:             xft:monospace:size=12
URxvt.saveLines:        10000

!! Transparency
! real
URxvt*depth: 32
URxvt*background:       [75]#000000
!
! fake
!URxvt*transparent:      true
!URxvt*shading:          30

!! Aesthetics
URxvt.intensityStyles:  false
URxvt.scrollBar:        false
URxvt.cursorColor:      cyan
URxvt.cursorBlink:      true
URxvt.cursorUnderline:  true
URxvt.scrollstyle:      plain
URxvt.iso14755:         false
URxvt.iso14755_52:      false
URxvt.internalBorder:   5


!! Extensions and Plugins
! Main
URxvt.perl-ext-common:	default,matcher,resize-font,url-select,keyboard-select,clipboard
URxvt.colorUL:		#4682B4

!! clipboard management
URxvt.keysym.M-c:       perl:clipboard:copy
URxvt.keysym.M-v:       perl:clipboard:paste
URxvt.keysym.M-C-v:     perl:clipboard:paste_escaped

! url-select
URxvt.keysym.M-u:            perl:url-select:select_next
URxvt.url-select.launcher:   linkhandler
URxvt.url-select.underline:  true

!! keyboard-select:
URxvt.keysym.M-Escape:                  perl:keyboard-select:activate
URxvt.keysym.M-s:                       perl:keyboard-select:search
URxvt.keyboard-select.clipboard:        true

!! resize-font
URxvt.keysym.M-minus:     resize-font:smaller
URxvt.keysym.M-plus:      resize-font:bigger
URxvt.keysym.M-equal:     resize-font:reset
URxvt.keysym.M-question:  resize-font:show

!! Matcher
URxvt.url-launcher:    linkhandler
URxvt.matcher.button:  1

!! Misc
! Rofi looks
rofi.color-enabled:      true
rofi.color-window:       #000, #000, #000
rofi.color-normal:       #111, #819396, #222, #008ed4, #ffffff
rofi.color-active:       #002b37, #008ed4, #003643, #008ed4, #66c6ff
rofi.color-urgent:       #002b37, #da4281, #003643, #008ed4, #890661
rofi.fake-transparency:  true

! Rofi settings
rofi.lines:           10
rofi.bw:              0
rofi.opacity:         "10"
rofi.hide-scrollbar:  true
rofi.width:           40

