[Desktop Entry]
Version=1.0
Type=Application
Name=ranger
Comment=Launches the ranger file manager
Exec=urxvt -e ranger
Icon=utilities-terminal
Path=
Terminal=false
StartupNotify=false
